body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1705px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$headerBackGround: #424242;
$fontFamilyRoboto: 'Roboto', sans-serif;
$colorTextWhite: #ffffff;
